autopep8==1.4.4
cffi==1.13.1
cryptography==2.8
dj-database-url==0.5.0
Django==2.2.6
djangorestframework==3.10.3
entrypoints==0.3
flake8==3.7.9
jwt==0.6.1
mccabe==0.6.1
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
python-decouple==3.1
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
